.container{
  padding: 50px;
}

.image {
    display: block;
    display: inline-block;
    height: auto;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;
}

.img-circle{
  display: block;
  height: auto;
  max-width: 30%;
 }

.subhead{
    color: #BCBBBB;
    font-family: 'Bubbler One', sans-serif;
}

.headtop {
  border-bottom: 5px solid #ccc;
  margin: 10px 0 10px 0;
}

.tex{
  font-family: 'Roboto Condensed', sans-serif;
}

.item{
  margin : 10px;
  width: 100%;
}
